
$modal-fade-transform: scale(.97);
$modal-transition: transform .2s ease-out;
$font-family-sans-serif: "Roboto", sans-serif;

@import "@/core.scss";
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";